<div class="auth-card">
  <div class="text-center">
    <h4 class="text-headline-lg font-semibold">Create your workspace</h4>
    <p class="card-second-title">Join the editorial approach to task management.</p>
  </div>
  <div class="mt-6">
    <form [formGroup]="signUpForm" (ngSubmit)="createAcount()">
      <div class="form-group">
        <label class="form-label">Name</label>
        <input
          type="text"
          placeholder="Enter your full name"
          class="input"
          formControlName="name"
          [class.input-error]="signUpForm.controls.name.invalid && signUpForm.controls.name.touched"
        />
        @if (signUpForm.controls.name.touched && signUpForm.controls.name.errors) {
          @if (signUpForm.controls.name.hasError('required')) {
            <small class="text-error" >Name is required.</small >
          }

          @if (signUpForm.controls.name.hasError('minlength')) {
            <small class="text-error" >Name must be at least 3 characters.</small >
          }

          @if (signUpForm.controls.name.hasError('maxlength')) {
            <small class="text-error" >Name must not exceed 50 characters.</small >
          }

          @if (signUpForm.controls.name.hasError('hasNumber')) {
            <small class="text-error" >Numbers are not allowed.</small >
          }

          @if (signUpForm.controls.name.hasError('hasSpecialCharacter')) {
            <small class="text-error" >Special characters are not allowed.</small >
          }

          @if (signUpForm.controls.name.hasError('multipleSpaces')) {
            <small class="text-error" >Multiple spaces are not allowed.</small >
          }
        }
      </div>
      <div class="form-group">
        <label class="form-label">Email</label>
        <input
          type="text"
          placeholder="yourname@company.com"
          class="input"
          formControlName="email"
          [class.input-error]="control('email')?.invalid && control('email')?.touched"
        />
    @if(signUpForm.controls.email.touched && signUpForm.controls.email.errors) {
      @if(signUpForm.controls.email.hasError('required')){
         <small class="text-error" >Email is required.</small >
      }
        @if(signUpForm.controls.email.hasError('email')){
           <small class="text-error" >Email not valid.</small >
      }
    }
      </div>
      <div class="form-group">
        <label class="form-label">Job Title (Optional)</label>
        <input
          type="text"
          placeholder="e.g. Project Manager"
          class="input"
          formControlName="department"
        />
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 md:gap-2">
        <div class="form-group">
          <label class="form-label">Password</label>
          <div class="relative">
            <input
              [type]="showPassword() ? 'text' : 'password'"
              placeholder="password"
              class="input w-full pr-10"
              formControlName="password"
              [class.input-error]="control('password')?.invalid && control('password')?.touched"
            />
            <img
              [src]="showPassword() ? '/icons/eye-off.svg' : '/icons/Icon.svg'"
              alt=""
              class="absolute right-2 top-1/2 -translate-y-1/2 w-5 h-3 cursor-pointer"
              (click)="togglePassword()"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Confirm Password</label>
          <input
            [type]="showPassword() ? 'text' : 'password'"
            placeholder="Repeat your password"
            class="input"
            formControlName="confirmPassword"
            [class.input-error]="control('confirmPassword')?.invalid && control('confirmPassword')?.touched"
          />
          @if (control('confirmPassword')?.touched && signUpForm.hasError('passwordMismatch')) {
            <small  class="text-error">Passwords do not match.</small >
          }
        </div>
      </div>
       
      <div class="card-Surface">
        <div class="flex items-center gap-1 mb-1">
          <img
            [src]="control('password')?.value && !control('password')?.hasError('minlength') ? '/icons/Icon (1).svg'
                : '/icons/Icon (2).svg'"
            alt=""
            class="w-3"
          />
          <span class="text-label-sm text-neutral-700 mx-1"> At least 8 characters</span>
        </div>
        <div class="flex items-center gap-1 mb-1">
          <img
            [src]="
              control('password')?.value && !control('password')?.hasError('missingUppercase') &&
              !control('password')?.hasError('missingLowercase') &&
              !control('password')?.hasError('missingDigit')
                ? '/icons/Icon (1).svg'
                : '/icons/Icon (2).svg'
            "
            alt=""
            class="w-3"
          />
          <span class="text-label-sm text-neutral-700 mx-1">One uppercase, lowercase, and digit</span>
        </div>
        <div class="flex items-center gap-1 mb-1">
          <img
            [src]="
                 control('password')?.value && !control('password')?.hasError('missingSpecialCharacter')
                ? '/icons/Icon (1).svg' 
                : '/icons/Icon (2).svg'
            "
            alt=""
            class="w-3"
          />
          <span class="text-label-sm text-neutral-700 mx-1">One special character</span>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="signUpForm.invalid">Create Account</button>
      </div>
      <div class="text-center my-4">
        <h5 class="text-neutral-700 text-title-sm font-regular">
          Already have an account? <a class="text-primary font-semibold">Log in</a>
        </h5>
      </div>
    </form>
  </div>
</div>
