.form-group {
  @apply flex
         flex-col
         gap-1
         my-4;
}

.input {
  @apply rounded-input
         px-4
         py-3
         bg-surface-highest
         border
         border-transparent
         outline-none;    
}

.input-error {
  @apply bg-error/10
         text-error
         border
         border-error
         outline-error
         ;
}

.form-label {
  @apply   text-label-sm
           font-semibold
           uppercase
           tracking-wide
           text-neutral-700;
}



input::placeholder {
  color: var(--color-text-gray);
  font-size: var(--text-title-sm);
  font-weight: var(--font-weight-regular);
}



