<div class="auth-card">
  <div class="text-center">
    <h4 class="text-sm sm:text-2xl font-semibold">Forgot password?</h4>
    <p class="text-sm md:text-title-sm text-neutral-700 font-regular">No worries, we'll send you reset instructions.</p>
  </div>
  <div class="mt-6 p-4">
    <form [formGroup]="forgetForm" (ngSubmit)=" forgetPassword()">
      <div class="form-group">
        <label class="form-label">Email</label>
        <input
          type="text"
          placeholder="yourname@company.com"
          class="input"
          formControlName="email"
          [class.input-error]="control('email')?.invalid && control('email')?.touched"
        />
        @if (forgetForm.controls.email.touched && forgetForm.controls.email.errors) {
          @if (forgetForm.controls.email.hasError('required')) {
            <small class="text-error">Email is required.</small>
          }
          @if (forgetForm.controls.email.hasError('email')) {
            <small class="text-error">Email not valid.</small>
          }
        }
      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="forgetForm.invalid ||isSubmit() ">Send Reset Link</button>
      </div>
      <div class="text-center">
         <a class="text-primary font-semibold cursor-pointer flex gap-2 justify-center" routerLink="/auth/sign-up"><img src="/icons/Icon (8).svg" alt=""><span>Back to log in</span></a>
      </div>
    </form>
    @if (isSubmit()) {
    <div class="bg-success text-emerald-700 gap-1 mt-5 flex items-center font-semibold p-4 rounded-sm">
        <img src="icons/Icon (1).svg" alt="">
        <p>If an account exists with this email, we’ve
         sent a password reset link.</p>
    </div>
    }
  </div>
</div>
