<div class="flex min-h-screen">
  <app-sidebar class="shrink-0"></app-sidebar>

  <div class="flex-1 flex flex-col">
    <app-nav-bar class="h-16"></app-nav-bar>

    <main class="flex-1 p-5 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
  <div class="fixed flex justify-around items-center bottom-0 right-0 left-0 bg-surface-low p-2 ">
    <div class=" justify-around items-center sm:hidden flex flex-col">
      <img src="/icons/Icon (4).svg" alt="">
      <p class="text-primary font-semibold">Projects</p>
    </div>
    <div class=" justify-around items-center sm:hidden flex flex-col">
      <img src="/icons/Icon (4).svg" alt="">
      <p class="text-primary font-semibold">Epics</p>
    </div>
    <div class=" justify-around items-center sm:hidden flex flex-col">
      <img src="/icons/Icon (4).svg" alt="">
                                                        Tasks    </div>
      <div class=" justify-around items-center sm:hidden flex flex-col">
      <img src="/icons/Icon (4).svg" alt="">
      <p class="text-primary font-semibold">Members</p>
    </div>
    <div class=" justify-around items-center sm:hidden flex flex-col">
      <img src="/icons/Icon (4).svg" alt="">
      <p class="text-primary font-semibold">Details</p>
    </div>
  </div>
</div>